body
{
    background-color: darkgrey;
    padding: 100px;
}
main {
    background-color: bisque;
    height: 260px;
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 70px 30px;
}